{
  "openapi": "3.1.0",
  "info": {
    "title": "Mealie Custom API with GPT Constraints",
    "version": "2.8.0",
    "description": "Modifi\u00e9 pour assistant GPT : Ajout liste de courses, menu plan, et blocage des liens internes."
  },
  "servers": [
    {
      "url": "https://mealie.aptitech.fr/api"
    }
  ],
  "paths": {
    "/households/shopping/lists/{list_id}/recipe/{recipe_id}": {
      "post": {
        "summary": "Ajoute les ingr\u00e9dients d\u2019une recette \u00e0 une liste de courses",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ingr\u00e9dients ajout\u00e9s avec succ\u00e8s"
          },
          "422": {
            "description": "Erreur de validation"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    }
  },
  "x-gpt-instructions": {
    "noInternalLinks": true,
    "behavior": {
      "onMealAddFail": "Fallback vers l\u2019ajout d\u2019ingr\u00e9dients dans la liste de courses",
      "avoidRecipeDuplicatesInPlanning": true,
      "greeting": "Souhaites-tu que je planifie un autre repas ?"
    }
  }
}