{
  "openapi": "3.1.0",
  "info": {
    "title": "Mealie Assistant API for GPT",
    "version": "1.3.1",
    "description": "API enrichie pour GPT avec liens directs vers l'interface Mealie."
  },
  "servers": [
    {
      "url": "https://mealie.aptitech.fr/api"
    }
  ],
  "paths": {
    "/recipes": {
      "get": {
        "summary": "Liste les recettes",
        "operationId": "listRecipes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des recettes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL vers la recette interne Mealie"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{slug}": {
      "get": {
        "summary": "Lire une recette compl\u00e8te",
        "operationId": "getRecipe",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "D\u00e9tails d'une recette",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL vers la recette interne Mealie"
                    },
                    "recipeIngredients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "note": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "recipeInstructions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}