{
  "openapi": "3.1.0",
  "info": {
    "title": "Mealie GPT Assistant API (Complet)",
    "version": "1.5.0",
    "description": "Assistant GPT connect\u00e9 \u00e0 Mealie avec support des menus, listes de courses et recherche intelligente de recettes"
  },
  "servers": [
    {
      "url": "https://mealie.aptitech.fr/api"
    }
  ],
  "paths": {
    "/households/mealplans": {
      "post": {
        "summary": "Ajouter une recette au calendrier des repas",
        "operationId": "addToMealplan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-07-13"
                  },
                  "entryType": {
                    "type": "string",
                    "enum": [
                      "breakfast",
                      "lunch",
                      "dinner",
                      "snack"
                    ]
                  },
                  "recipeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "date",
                  "entryType",
                  "recipeId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recette ajout\u00e9e au calendrier"
          }
        }
      }
    },
    "/households/shopping/items": {
      "post": {
        "summary": "Ajouter un ingr\u00e9dient \u00e0 la liste de courses",
        "operationId": "addShoppingItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "note": {
                    "type": "string",
                    "example": "Riz basmati"
                  },
                  "isFood": {
                    "type": "boolean",
                    "default": true
                  },
                  "disableAmount": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "note"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\u00c9l\u00e9ment ajout\u00e9 \u00e0 la liste de courses"
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "summary": "Rechercher des recettes avec un mot-cl\u00e9",
        "operationId": "searchRecipes",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mot-cl\u00e9 \u00e0 rechercher dans les recettes (ex: thon)"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des recettes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "description": "Lien interne vers la recette",
                        "example": "https://mealie.aptitech.fr/recipe/riz-au-thon"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}