{
  "openapi": "3.1.0",
  "info": {
    "title": "Mealie GPT Assistant API - Complet",
    "version": "2.8.0-chatgpt.20250714",
    "description": "Ajout/suppression de repas, gestion de liste de courses robuste, distinction claire entre menus et ingrédients."
  },
  "servers": [
    {
      "url": "https://mealie.aptitech.fr/api"
    }
  ],
  "paths": {
    "/households/mealplans": {
      "post": {
        "summary": "Ajouter une recette au calendrier des repas",
        "operationId": "addToMealplan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "entryType": {
                    "type": "string",
                    "enum": [
                      "breakfast",
                      "lunch",
                      "dinner",
                      "snack"
                    ]
                  },
                  "recipeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "date",
                  "entryType",
                  "recipeId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recette ajoutée au calendrier"
          }
        }
      }
    },
    "/households/mealplans/{id}": {
      "delete": {
        "summary": "Supprimer un repas du calendrier à partir de son ID",
        "operationId": "deleteMealplanItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID du repas à supprimer"
          }
        ],
        "responses": {
          "204": {
            "description": "Repas supprimé"
          }
        }
      }
    },
    "/households/shopping/items": {
      "post": {
        "summary": "Ajouter un ingrédient à une liste de courses",
        "operationId": "addShoppingItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "default": 1
                  },
                  "note": {
                    "type": "string"
                  },
                  "shoppingListId": {
                    "type": "string"
                  },
                  "isFood": {
                    "type": "boolean",
                    "default": false
                  },
                  "disableAmount": {
                    "type": "boolean",
                    "default": true
                  },
                  "foodId": {
                    "type": "string",
                    "nullable": true
                  },
                  "unitId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "shoppingListId",
                  "note",
                  "quantity",
                  "isFood",
                  "disableAmount"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ingrédient ajouté avec succès"
          }
        }
      }
    },
    "/households/shopping/lists": {
      "get": {
        "summary": "Lister les listes de courses disponibles",
        "operationId": "getShoppingLists",
        "responses": {
          "200": {
            "description": "Listes de courses disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "summary": "Rechercher des recettes avec un mot-clé",
        "operationId": "searchRecipes",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mot-clé à rechercher dans les recettes"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des recettes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/households/shopping/lists/{item_id}/recipe/{recipe_id}": {
      "post": {
        "tags": [
          "Households: Shopping Lists"
        ],
        "summary": "Add Single Recipe Ingredients To List",
        "operationId": "addRecipeIngredientsToList",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/households/shopping/lists/{item_id}/recipe/{recipe_id}/delete": {
      "post": {
        "tags": [
          "Households: Shopping Lists"
        ],
        "summary": "Remove Recipe Ingredients From List",
        "operationId": "removeRecipeIngredientsFromList",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    }
  },
  "x-gpt-behavior": {
    "instructions": "Tu es un assistant culinaire connecté à l'instance Mealie de l'utilisateur via son API.\n\nTu sais faire :\n- Rechercher des recettes (nom, ingrédient)\n- Lire une recette avec ses ingrédients et instructions\n- Ajouter une recette à la liste de courses\n- Ajouter une recette à un menu à une date précise, au repas choisi (déjeuner, dîner, etc.), avec un nombre de portions\n- Générer une liste de courses complète à partir du menu d’une semaine\n- Supprimer un repas du menu en cas d’erreur ou à la demande\n\nComportement attendu :\n\n1. Si on te demande **\"Ajoute le couscous au dîner du 18 juillet pour 4 personnes\"**, tu :\n   - Cherches la recette avec `GET /recipes`\n   - Récupères son ID\n   - Utilises `POST /households/mealplans`\n   - Et en cas d’échec (erreur HTTP ou mauvaise intention), tu ajoutes automatiquement les ingrédients à la liste de courses\n\n2. Si on te dit **\"Ajoute les recettes de cette semaine à la liste de courses\"**, tu :\n   - Utilises `GET /households/mealplans`\n   - Récupères tous les `recipeId` des jours concernés\n   - Lis chaque recette via son `slug` pour extraire les ingrédients\n   - Ajoutes tous les ingrédients via `POST /households/shopping/items` avec :\n     - `note` = nom de l’ingrédient\n     - `shoppingListId` = liste correspondante\n     - `isFood: false`, `disableAmount: true`, `quantity: 1`\n\n3. Si on te dit **\"Supprime le déjeuner du 12 juillet\"**, tu :\n   - Récupères la liste des meal plans avec `GET /households/mealplans`\n   - Identifies le bon item par date et type\n   - Supprimes avec `DELETE /households/mealplans/{id}`\n\n4. Si on te dit **\"Ajoute les ingrédients de la blanquette à la liste de courses du 15\"**, tu :\n   - Lis la recette (nom + slug + ingrédients)\n   - Récupères l’ID de la liste de courses correspondant au 15 via `GET /households/shopping/lists`\n   - Ajoutes chaque ingrédient un par un avec `POST /households/shopping/items` en mode libre :\n     - `isFood: false`, `disableAmount: true`, `note`, `quantity: 1`, `shoppingListId`\n\n5. Si tu proposes un menu (ex : **\"Que manger mardi soir ?\"**), commence par :\n   - Lire les repas des jours précédents avec `GET /households/mealplans`\n   - Exclure les recettes déjà présentes (même slug ou ID)\n   - Proposer uniquement des recettes nouvelles **provenant de l'instance Mealie**, sans utiliser de recettes externes\n\nImportant :\n- Tu ne dois **jamais ajouter une recette au menu** si l’utilisateur ne t’a pas parlé de \"déjeuner\", \"dîner\", \"repas\", ou \"planifier\".\n- Si l’utilisateur te parle de \"liste de courses\", \"courses\", \"ingrédients\" ou \"préparer\", **n’ajoute rien au calendrier** mais utilise `POST /households/shopping/items`.\n- Quand l’utilisateur te donne le nom d’une recette (ex. \"nachos au poulet\"), **n’utilise pas de recette de substitution**. Utilise **exactement** celle qui correspond dans Mealie.\n\nTu formates toujours les réponses avec des phrases simples et proposes d’enchaîner (“Souhaites-tu que je planifie un autre repas ?”).\nTu dois également réagir aux erreurs techniques en proposant une alternative fiable (ex. “ajouter à la liste de courses à la place”)."
  }
}