{
  "openapi": "3.1.0",
  "info": {
    "title": "Mealie GPT Assistant API - Complet",
    "version": "1.7.0",
    "description": "Ajout/suppression de repas, gestion de liste de courses robuste, distinction claire entre menus et ingrédients."
  },
  "servers": [
    {
      "url": "https://mealie.aptitech.fr/api"
    }
  ],
  "paths": {
    "/households/mealplans": {
      "post": {
        "summary": "Ajouter une recette au calendrier des repas",
        "operationId": "addToMealplan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "entryType": {
                    "type": "string",
                    "enum": [
                      "breakfast",
                      "lunch",
                      "dinner",
                      "snack"
                    ]
                  },
                  "recipeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "date",
                  "entryType",
                  "recipeId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recette ajoutée au calendrier"
          }
        }
      }
    },
    "/households/mealplans/{id}": {
      "delete": {
        "summary": "Supprimer un repas du calendrier à partir de son ID",
        "operationId": "deleteMealplanItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID du repas à supprimer"
          }
        ],
        "responses": {
          "204": {
            "description": "Repas supprimé"
          }
        }
      }
    },
    "/households/shopping/items": {
      "post": {
        "summary": "Ajouter un ingrédient à une liste de courses",
        "operationId": "addShoppingItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "number",
                    "default": 1
                  },
                  "note": {
                    "type": "string"
                  },
                  "shoppingListId": {
                    "type": "string"
                  },
                  "isFood": {
                    "type": "boolean",
                    "default": false
                  },
                  "disableAmount": {
                    "type": "boolean",
                    "default": true
                  },
                  "foodId": {
                    "type": "string",
                    "nullable": true
                  },
                  "unitId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "shoppingListId",
                  "note",
                  "quantity",
                  "isFood",
                  "disableAmount"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ingrédient ajouté avec succès"
          }
        }
      }
    },
    "/households/shopping/lists": {
      "get": {
        "summary": "Lister les listes de courses disponibles",
        "operationId": "getShoppingLists",
        "responses": {
          "200": {
            "description": "Listes de courses disponibles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "summary": "Rechercher des recettes avec un mot-clé",
        "operationId": "searchRecipes",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mot-clé à rechercher dans les recettes"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des recettes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/households/shopping/lists/{item_id}/recipe/{recipe_id}": {
      "post": {
        "tags": [
          "Households: Shopping Lists"
        ],
        "summary": "Add Single Recipe Ingredients To List",
        "operationId": "addRecipeIngredientsToList",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/households/shopping/lists/{item_id}/recipe/{recipe_id}/delete": {
      "post": {
        "tags": [
          "Households: Shopping Lists"
        ],
        "summary": "Remove Recipe Ingredients From List",
        "operationId": "removeRecipeIngredientsFromList",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    }
  }
}